.tree {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  position: relative;
}

.dragging {
  z-index: 1;
  opacity: 0.5;
}

.indicator {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 2px;
  border-radius: var(--radius-full);
  background: var(--color-accent);
  pointer-events: none;
}

.indicatorBefore {
  top: -1px;
  bottom: auto;
}
